body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    min-height: 100vh;
}



.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 56vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    margin: auto;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 600px;
}

.menu-icon {
    margin-top: 20px;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    width: 95%;
    text-align: center;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
}

.menu-icon:hover {
    background-color: #efefef;
    transition: 0.4s;
    border-radius: 10px
        /* Cambia el color de fondo al pasar el rat칩n por encima */
}

.menu-icon.red-background {
    color: Black;
    background-color: #efefef;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    width: 100%;
    overflow-y: auto;

}

.menu li {
    padding: 10px 10px;
    width: 90%;
    text-align: left;
    border-bottom: 1px solid #f4f4f4;

}

.menu li:hover {
    background-color: #05BFAD;
    color: #222222
        /* Cambia el color de fondo al pasar el rat칩n por encima */
}



.menu.active {
    display: flex;

    /* Cambiado a flex para mantener la flexibilidad con el contenido */
}

.search,
#categoryCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#categoryCards {
    border-radius: 10px;
    border-color: #006791;
    padding: 10px;
}

#categoryCards:hover {
    cursor: pointer;
}

#categoryCards:focus {
    outline-color: #006791;
}

.search input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #006791;
    border-radius: 10px;
}

.search input[type="text"]:focus {
    outline-color: #006791;
}

.search button {
    background-color: #ffffff;
    color: #05BFAD;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    transition: 0.4s;
    border: solid 1px #05BFAD;
}

.search button:hover {
    background-color: #05BFAD;
    transform: scale(1.1);
    transition: 0.4s;
    color: white;
    border: solid 1px #ffffff;
}

.search button:last-child {
    background-color: #05BFAD;
    color: #ffffff;
    border: solid 1px #05BFAD;
}

.search button:last-child:hover {
    background-color: #006791;
    border: solid 1px #ffffff;
    color: #ffffff;
    transition: 0.4s;
}

.header {
    display: flex;

}

.header h1 {
    text-justify: center;
    align-self: center;
    padding: 20px;
    margin: 0;
    color: #333;

}



#averageScore {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}






.card {
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 100 1fr;
}

#mediaResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    background-color: rgb(117, 117, 117);
    padding: 20px;
}



#principalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;

}

#categoriesContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.desplegableCategorias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    padding: 20px;
    background-color: lightgray;
    /* A침adir color de fondo temporal */
    border: 2px solid red;
    /* A침adir borde para visibilidad */
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.categoryContainer {
    transition: 0.3s;
}

.categoryContainer h1 {
    color: #333;
}

.categoryContainer:hover {
    cursor: pointer;
    scale: 1.05;
}

#averageScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#averageScore h1 {
    color: #333;
}

#averageScore h3 {
    color: #333;
    text-transform: uppercase;
}

#loading, #loading2 {
    width: 150px;
    height: 150px;
}

.menu-button {
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #006791;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
}	

.menu-button:hover {
    background-color: #05BFAD;
    transition: 0.4s;
    scale: 1.1;
}

.secundaryContainer {
    margin-top: 10%;
}

#averageReload img{
    width: 30px;
    height: 30px;    
    margin: auto;
    display: flex;
    padding: auto;
    justify-content: center;
    vertical-align: middle;
}

#averageReload:hover {
    scale: 1.1;
    cursor: pointer;
}

#averageReload {
    background-color: #cacaca;
    position: fixed;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;    
    border: 0px;
    border-radius: 10px;
    transition: 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-content button {
    margin: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#containerButton button {
    justify-content: center;
    align-items: center;
    min-width: 45%;
}

#containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.modal .modal-content img {
    width: 50px;
}
#confirmButton {
    background-color: #006791;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}

#confirmButton:hover {
    background-color: #05BFAD;
    transition: 0.4s;
    scale: 1.05;
}

#cancelButton {
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}

#cancelButton:hover {
    background-color: #ff0000;
    transition: 0.4s;
    scale: 1.05;
}